<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.harpseal.pomodorowear"
    android:versionCode="28"
    android:versionName="1.0.0.27">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Calendar permission used by CalendarWatchFaceService -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >
        <service
            android:name=".MainWatchFace"
            android:label="@string/my_analog_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_analog" />
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="io.harpseal.pomodorowear.CONFIG_CALENDAR" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="io.harpseal.pomodorowear.CONFIG_CALENDAR" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service android:name=".MainWatchFaceConfigListenerService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <action android:name="io.harpseal.pomodorowear.BIND_LISTENER" />
            </intent-filter>
        </service>
        <!--
             All intent-filters for config actions must include the categories
            com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION
            and android.intent.category.DEFAULT.
        -->

        <activity
            android:name=".MainConfigActivity"
            android:label="@string/pomodoro_config_name" >
            <intent-filter>
                <action android:name="io.harpseal.pomodorowear.CONFIG_CALENDAR" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".WatchTimePickerActivity" >
        </activity>
        <activity android:name=".CalendarPickerActivity" >
        </activity>
        <activity android:name=".TomatoBuilderActivity" >
        </activity>
    </application>

</manifest>
